@{
    ViewData["Title"] = "Cuevana";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A CUEVANA</h1>
    <img source="/cuevana.png" alt="" width="300px" height="300px">
</div>

<div class = "row">
@{
    foreach (Series item in ViewBag.Series)
    {
        
            <div class="card" style="width: 18rem;">
                <img src="@item.imagenSerie" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.nombreSerie</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSerie"
                    onclick="MostrarActor(@item.idSerie)">
                        Ver Actores
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ModalSerie"
                    onclick="MostrarTemporadas(@item.idSerie)">
                        Temporadas
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalSerie"
                    onclick="MostrarMasInfo(@item.idSerie)">
                        Más info
                    </button>
                </div>
            </div>
        
    }
}
</div>

<div class="modal fade" id="ModalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <img class="img-fluid" id="imagen">
            <div id="texto"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
